.relative {
  position: relative; }

.hide-title {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden; }

.wpb_text_column.wpb_content_element.page-title {
  margin: 0; }

.page-title h2 {
  font-family: "MyriadPro-Bold";
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 20px !important;
  margin-top: 30px; }

h1.page-title {
  font-family: "MyriadPro-Bold";
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  padding: 36px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

html {
  overflow-y: inherit; }

.basic-page {
  line-height: 1.5;
  margin-bottom: 40px; }

.title-404 {
  font-size: 60px;
  font-family: "MyriadPro-Bold"; }

#back_to_top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 65px;
  right: 30px;
  padding: 9px 18px;
  color: #fff;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #back_to_top:hover {
    opacity: 0.5 !important; }

.backactive {
  opacity: 1 !important;
  visibility: visible !important; }

.overlya-modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.custom-modal {
  width: 535px;
  position: fixed;
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  opacity: 0;
  visibility: hidden;
  display: table; }
  .custom-modal .modal-img {
    display: table-cell; }
  .custom-modal .modal-contents {
    width: 50%;
    padding-right: 13px;
    display: table-cell;
    vertical-align: middle; }
    .custom-modal .modal-contents h3 {
      color: #333333;
      font-size: 24px;
      line-height: 1.5;
      font-family: "MyriadPro-Regular";
      margin-top: 46px;
      text-align: center;
      margin-bottom: 40px; }
    .custom-modal .modal-contents input[type=text] {
      background: #f6f6f6;
      border: none;
      display: block;
      text-align: center;
      padding: 10px;
      -webkit-border-radius: 22px;
      border-radius: 22px;
      margin: 0 auto 15px auto;
      font-family: "MyriadPro-Regular";
      font-size: 15px;
      line-height: 1.5;
      color: #b2b2b2;
      width: 215px; }
    .custom-modal .modal-contents div.wpcf7 .ajax-loader {
      left: 50%;
      position: relative;
      margin-left: -8px; }
  .custom-modal .text-policy {
    width: 250px;
    font-size: 16px; }
  .custom-modal ::-webkit-input-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .custom-modal ::-moz-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .custom-modal :-ms-input-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .custom-modal :-moz-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .custom-modal input[type=submit] {
    background: #ffc04e;
    border: none;
    font-size: 18px;
    line-height: 1.5;
    font-family: "MyriadPro-Regular";
    color: #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    margin: 0 auto;
    padding: 6px 41px;
    display: table; }
    .custom-modal input[type=submit]:hover {
      background: #706f6f; }
  .custom-modal .close-modal {
    position: absolute;
    top: 15px;
    right: 18px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .custom-modal .close-modal:hover {
    opacity: .5; }

.show-blocks-modal {
  opacity: 1;
  visibility: visible; }

.relative {
  position: relative; }

.top-header {
  padding: 22px 0 28px 0; }

.link-phone {
  font-size: 24px;
  line-height: 71px;
  font-family: "MyriadPro-Light";
  color: #706f6f;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .link-phone span {
    font-family: "MyriadPro-Bold"; }
  .link-phone:hover {
    text-decoration: none;
    color: #ffc04e; }

.btn-link.call-button {
  text-decoration: none;
  color: #fff;
  font-family: "MyriadPro-Regular";
  background: #ffc04e;
  display: inline-block;
  padding: 12px 31px;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  margin-top: 11px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 14px 4px #e8e8e8;
          box-shadow: 0 3px 14px 4px #e8e8e8;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-link.call-button:hover {
    background: #706f6f; }

.top-main-container {
  text-align: center;
  margin: 0;
  padding: 0; }
  .top-main-container li {
    display: inline-block;
    padding-right: 63px; }
    .top-main-container li a {
      font-size: 18px;
      line-height: 1.5;
      color: #706f6f;
      font-family: "MyriadPro-Light";
      text-decoration: none; }
  .top-main-container li:last-child {
    padding-right: 0; }
  .top-main-container li:hover a {
    color: #ffc04e; }
  .top-main-container li.current-menu-item a {
    font-family: "MyriadPro-Semibold"; }

.home li:first-child.current-menu-item a {
  font-family: "MyriadPro-Semibold"; }

.home li.current-menu-item a {
  font-family: "MyriadPro-Light"; }

header {
  padding-bottom: 30px; }

.bredscrumb {
  background: url(../images/bred.png);
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
          background-size: cover !important; }

.feature-class h3 {
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 30px; }

.item-home-slider {
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 525px; }

.home-slider {
  height: 525px; }

.home-slider-walpaper {
  position: relative; }

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.slider-block-content-walpaper {
  width: 55%;
  height: 100%;
  display: table; }
  .slider-block-content-walpaper h2 {
    font-family: "MyriadPro-Bold";
    font-size: 48px;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 50px; }

.content-home-slider {
  height: 100%; }
  .content-home-slider .container.relative.clearfix {
    height: 100%; }

.nav-link.left img {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg); }

.arrow-slder {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  width: 100%;
  height: 100%; }
  .arrow-slder a:hover {
    opacity: .5; }

a.nav-link.right.slick-arrow {
  right: 0;
  position: absolute; }

a.nav-link.left.slick-arrow {
  left: 0;
  position: absolute; }

.slick-dots {
  width: auto;
  bottom: 52px;
  z-index: 10; }
  .slick-dots li {
    margin: 0 2px; }
    .slick-dots li button {
      background: #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 14px;
      height: 14px;
      opacity: .5; }
  .slick-dots li.slick-active button {
    opacity: 1; }

.slick-dots li button:before {
  display: none; }

.products-cats {
  overflow: hidden;
  padding: 0; }
  .products-cats li {
    list-style: none; }
    .products-cats li img {
      max-height: 152px; }
    .products-cats li h3 {
      margin: 0;
      font-family: "MyriadPro-Regular";
      font-size: 16px;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      background: #ccb080;
      padding: 10px; }

.product-cat-item-walp {
  height: 210px;
  width: 260px; }

.product-cat-item:nth-of-type(3n+2) .product-cat-item-walp {
  margin: 0 auto; }

.product-cat-item:nth-of-type(3n+3) .product-cat-item-walp {
  margin: 0 0 0 auto; }

.product-cat-item-holder {
  -webkit-border-radius: 18px;
          border-radius: 18px;
  position: relative;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 9px 5px #eae5e5ee;
          box-shadow: 2px 5px 9px 5px #eae5e5ee;
  margin-bottom: 20px;
  text-decoration: none;
  display: block; }
  .product-cat-item-holder:hover {
    text-decoration: none; }
    .product-cat-item-holder:hover h3 {
      background: #ababab; }
  .product-cat-item-holder .img-block {
    height: 152px;
    text-align: center; }

section.products-class {
  background: url(../images/product-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.price--link-block {
  margin-top: 40px;
  margin-bottom: 40px; }

.link-all-prices {
  display: table;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .link-all-prices .img {
    float: left;
    background: #9d9d9c;
    padding: 5px 15px 5px 30px;
    -webkit-border-top-left-radius: 35px;
            border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
            border-bottom-left-radius: 35px; }
  .link-all-prices p {
    margin: 0;
    display: inline-block;
    background: -webkit-gradient(linear, left top, right top, from(#b7b6b5), to(#7f7e7e));
    background: -webkit-linear-gradient(left, #b7b6b5 0%, #7f7e7e 100%);
    background: -o-linear-gradient(left, #b7b6b5 0%, #7f7e7e 100%);
    background: linear-gradient(to right, #b7b6b5 0%, #7f7e7e 100%);
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 11px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 23px;
    -webkit-border-top-right-radius: 31px;
            border-top-right-radius: 31px;
    -webkit-border-bottom-right-radius: 31px;
            border-bottom-right-radius: 31px; }

.link-all-prices:hover {
  opacity: .5; }

.home-slider-walpaper .slick-dotted.slick-slider {
  margin-bottom: 25px; }

.service-class h3 {
  font-family: "MyriadPro-Bold";
  font-size: 18px;
  line-height: 1.5;
  color: #2a2d2f;
  margin-bottom: 0; }

.service-class p {
  color: #2a2d2f; }

.feedback-class {
  margin-bottom: -21px; }
  .feedback-class input[type=text] {
    background: #f6f6f6;
    border: none;
    display: block;
    text-align: center;
    padding: 10px;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    margin: 0 auto 30px auto;
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2;
    width: 300px; }
  .feedback-class ::-webkit-input-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .feedback-class ::-moz-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .feedback-class :-ms-input-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .feedback-class :-moz-placeholder {
    font-family: "MyriadPro-Regular";
    font-size: 15px;
    line-height: 1.5;
    color: #b2b2b2; }
  .feedback-class input[type=submit] {
    background: -webkit-gradient(linear, left top, right top, from(#868585), color-stop(18%, #868585), to(#bdbdbc));
    background: -webkit-linear-gradient(left, #868585 0%, #868585 18%, #bdbdbc 100%);
    background: -o-linear-gradient(left, #868585 0%, #868585 18%, #bdbdbc 100%);
    background: linear-gradient(to right, #868585 0%, #868585 18%, #bdbdbc 100%);
    border: none;
    font-size: 18px;
    line-height: 1.5;
    font-family: "MyriadPro-Regular";
    color: #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    margin: 0 auto 30px auto;
    padding: 10px 86px;
    display: table; }
    .feedback-class input[type=submit]:hover {
      background: #ffc04e; }

.pre-form p {
  font-family: "MyriadPro-Regular";
  font-size: 24px;
  line-height: 1.5;
  color: #9d9d9c;
  margin-top: 150px;
  padding-top: 50px; }

.text-policy {
  width: 300px;
  margin: 0 auto  35px auto;
  text-align: center;
  color: #333333;
  font-size: 18px; }
  .text-policy a {
    color: #ccb080;
    text-decoration: underline; }

section.sertificate-class {
  background: url(../images/sertificate-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }
  section.sertificate-class .page-title h2 {
    margin-bottom: 50px !important; }

.certs-list {
  margin: 0 -25px;
  padding: 0;
  overflow: hidden; }

.item-cert-slider {
  margin: 0 25px; }

.item-cert-slider-walp img {
  max-width: 100%; }

.main-img-cert {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1; }

.img-overlay-sert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.item-cert-slider-walp a {
  display: block;
  position: relative; }
  .item-cert-slider-walp a:hover .img-overlay-sert {
    opacity: 1; }
  .item-cert-slider-walp a:hover .main-img-cert {
    opacity: .3; }

.item-cert-slider-walp {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px 7px 12px 1px #b3b2b2;
          box-shadow: 4px 7px 12px 1px #b3b2b2;
  margin-bottom: 70px; }

.certs-list .slick-dots {
  width: 100%;
  bottom: 0; }
  .certs-list .slick-dots li button {
    background: #ababab; }

.slick-dotted.slick-slider {
  margin-bottom: 70px; }

.map-holder,
#map {
  width: 100%;
  height: 745px; }

.map-content-firstblock h3 {
  font-family: "MyriadPro-Bold";
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 30px; }

.map-holder {
  position: relative; }
  .map-holder .map-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .map-holder .map-content .map-content-firstblock {
      background: #fff;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      -webkit-box-shadow: 1px 5px 6px 2px #bfbfbf;
              box-shadow: 1px 5px 6px 2px #bfbfbf;
      margin-top: 68px;
      margin-left: 32px;
      display: inline-block;
      position: absolute;
      top: 0;
      z-index: 6; }
    .map-holder .map-content .wpcf7-not-valid-tip {
      text-align: center; }
    .map-holder .map-content .ajax-loader {
      bottom: 60px;
      margin-left: -10px;
      left: 50%; }
    .map-holder .map-content .image-contact {
      width: 170px;
      position: absolute;
      top: -64px;
      left: -45px;
      z-index: 2; }

.main-row-contact .map-content-firstblock {
  background: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 1px 5px 6px 2px #bfbfbf;
          box-shadow: 1px 5px 6px 2px #bfbfbf;
  margin-top: 68px;
  margin-left: 32px;
  display: inline-block; }

.map-content input[type=text] {
  background: #f6f6f6;
  border: none;
  display: block;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  margin: 0 60px 30px 60px;
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2;
  width: 320px; }

.map-content ::-webkit-input-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.map-content ::-moz-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.map-content :-ms-input-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.map-content :-moz-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.map-content input[type=submit] {
  display: block;
  border: none;
  background: #ccb080;
  width: 100%;
  font-size: 18px;
  padding: 16px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 16px;
          border-top-left-radius: 16px;
  -webkit-border-top-right-radius: 16px;
          border-top-right-radius: 16px;
  color: #fff; }
  .map-content input[type=submit]:hover {
    background: #706f6f; }

.map-content .text-policy {
  width: 328px;
  font-size: 16px; }
  .map-content .text-policy a {
    font-size: 16px; }

.map-content span.ajax-loader {
  position: absolute;
  bottom: 50px; }

.map-content-secondblock {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9efdf), color-stop(7%, #faf5ed), color-stop(20%, white), to(white));
  background: -webkit-linear-gradient(top, #f9efdf 0%, #faf5ed 7%, white 20%, white 100%);
  background: -o-linear-gradient(top, #f9efdf 0%, #faf5ed 7%, white 20%, white 100%);
  background: linear-gradient(to bottom, #f9efdf 0%, #faf5ed 7%, white 20%, white 100%);
  margin-left: 32px;
  display: inline-block;
  -webkit-box-shadow: 1px 5px 6px 2px #bfbfbf;
          box-shadow: 1px 5px 6px 2px #bfbfbf;
  width: 440px;
  margin-top: 25px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  top: 455px; }
  .map-content-secondblock h3 {
    text-align: center;
    color: #333333;
    font-size: 24px;
    line-height: 1.5;
    font-family: "MyriadPro-Bold"; }

.lists-contacts-information {
  margin: 0 auto;
  display: table;
  padding: 0; }
  .lists-contacts-information span {
    color: #ccb080;
    font-family: "MyriadPro-Bold";
    text-transform: uppercase;
    float: left;
    padding-right: 9px; }
  .lists-contacts-information li {
    list-style: none;
    margin-bottom: 20px; }
  .lists-contacts-information p {
    display: table;
    color: #333333; }
  .lists-contacts-information a {
    display: block;
    color: #333333; }

.span.wpcf7-not-valid-tip {
  text-align: center; }

.page-products .products-cats {
  padding-top: 50px; }

.page-products .price--link-block {
  margin-bottom: 75px; }

.page-products .product-cat-item-holder .img-block {
  position: relative; }
  .page-products .product-cat-item-holder .img-block .overlay-img-product {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center; }
    .page-products .product-cat-item-holder .img-block .overlay-img-product a {
      display: inline-block;
      border: 1.5px solid #acadae;
      background: rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 26px;
              border-radius: 26px;
      overflow: hidden;
      color: #fff;
      padding: 10px 31px;
      white-space: nowrap;
      font-size: 16px;
      line-height: 1.5;
      font-family: "MyriadPro-Regular";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%); }
  .page-products .product-cat-item-holder .img-block:hover .overlay-img-product {
    opacity: 1; }
    .page-products .product-cat-item-holder .img-block:hover .overlay-img-product a {
      text-decoration: none; }
    .page-products .product-cat-item-holder .img-block:hover .overlay-img-product a:hover {
      color: #ffc04e;
      border-color: #ffc04e; }

.price-lists {
  margin: 0;
  padding: 22px 0 40px;
  overflow: hidden; }
  .price-lists li {
    list-style: none; }
    .price-lists li .price-item-walp {
      display: table;
      padding: 8px 20px;
      border: 1px solid #cdcdcd;
      -webkit-border-radius: 40px;
              border-radius: 40px;
      width: 325px;
      height: 70px;
      margin-bottom: 20px;
      text-decoration: none; }
    .price-lists li .image-price {
      display: table-cell;
      width: 68px;
      vertical-align: middle; }
      .price-lists li .image-price .price-img-hover {
        display: none; }
    .price-lists li h3 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      font-family: "MyriadPro-Regular";
      font-size: 20px;
      color: #4e4e4e; }
    .price-lists li .price-item-walp:hover {
      background: #ccb080;
      border-color: #ccb080; }
      .price-lists li .price-item-walp:hover .price-img {
        display: none; }
      .price-lists li .price-item-walp:hover .price-img-hover {
        display: block; }
      .price-lists li .price-item-walp:hover h3 {
        color: #fff; }

a.price-item-walp.active {
  background: #ccb080;
  border-color: #ccb080; }
  a.price-item-walp.active .price-img {
    display: none; }
  a.price-item-walp.active .price-img-hover {
    display: block; }
  a.price-item-walp.active h3 {
    color: #fff; }

.table-price {
  width: 90%;
  margin: 0 auto;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  overflow: hidden;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px; }
  .table-price table {
    width: 100%; }
    .table-price table thead {
      background: #ccb080;
      border: 1px solid #fff; }
      .table-price table thead td {
        width: 25%;
        text-align: center;
        font-family: "MyriadPro-Regular";
        color: #fff;
        padding: 10px; }
    .table-price table th {
      border: 1px solid #d2d2d2;
      font-family: "MyriadPro-Regular";
      color: #4e4e4e;
      font-size: 16px;
      padding: 11px 13px;
      font-weight: 400;
      text-align: center; }

.page-prices .link-all-prices img {
  padding: 8px 0 8px 13px; }

.page-prices .link-all-prices p {
  padding-right: 55px; }

.page-prices .slick-dots {
  bottom: -61px;
  left: 68px; }
  .page-prices .slick-dots button {
    background: #ababab; }

.action-item img {
  width: 100%; }

.action-item .img-block {
  height: 130px;
  width: 450px;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: center center !important; }

.action-item .text-value {
  font-family: "MyriadPro-Regular";
  font-size: 30px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  position: relative; }

.action-item .text-value::after {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 147px solid #efefef;
  border-right: 100px solid transparent;
  position: absolute;
  top: -7px;
  right: -97px;
  display: block;
  z-index: 2; }

.action-item .value-price {
  font-size: 90px;
  line-height: 1.5;
  padding-left: 52px;
  width: 215px;
  font-family: "MyriadPro-Bold";
  color: red; }

.action-block {
  display: table;
  position: relative;
  width: 100%;
  background: #efefef;
  -webkit-border-radius: 88px;
          border-radius: 88px;
  overflow: hidden; }
  .action-block > div {
    display: table-cell;
    vertical-align: middle; }

.action-row {
  position: relative;
  margin: 70px 0 142px; }
  .action-row .action-arrow {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -40px;
    width: 41px; }
    .action-row .action-arrow .nav-link:hover {
      opacity: .5; }

.main-row-contact {
  margin: 50px 0; }

.page-contacts #map {
  height: 655px;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.main-row-contact .map-content-secondblock {
  margin-top: 0;
  border: 1.5px solid #ccb080;
  top: 416px; }

.main-row-contact .map-content-firstblock {
  margin-top: 0;
  border: 1.5px solid #ccb080;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 440px; }
  .main-row-contact .map-content-firstblock .wpcf7-not-valid-tip {
    text-align: center; }
  .main-row-contact .map-content-firstblock div.wpcf7 .ajax-loader {
    left: 50%;
    bottom: 63px !important;
    margin-left: -13px; }

.item-parnters-slider-walp {
  margin: 0 20px; }
  .item-parnters-slider-walp img {
    width: 100%; }

div.wpcf7-response-output {
  margin: -3em 0.5em 0em; }

span.wpcf7-not-valid-tip {
  text-align: center; }

@media (max-width: 1200px) {
  .top-main-container li {
    display: inline-block;
    padding-right: 29px; }
  .bottom-main-container li {
    display: inline-block;
    padding-right: 3px; } }

@media (max-width: 1000px) {
  .main-row-contact .map-content-secondblock {
    position: relative;
    top: 0 !important;
    margin: 0 auto;
    display: table; }
  .action-item .img-block {
    width: 180px; }
  .main-row-contact .map-content-firstblock {
    margin: 20px auto;
    display: table; }
  a.logo {
    text-align: center;
    display: table;
    margin: 0 auto; }
  .bottom-header .top-main-container {
    display: none; }
  #responsive-menu-button {
    position: absolute !important;
    left: 107px !important;
    top: 193px !important;
    background: transparent !important; }
  .responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
    background-color: #ffc04e !important; }
  .row-top-header .link-phone {
    line-height: 35px; }
  .row-top-header .col-lg-6 .col-lg-6:first-child .link-phone {
    margin-top: 16px;
    display: inline-block; }
  .top-header {
    padding-bottom: 0; }
  .slider-block-content-walpaper {
    width: 100%; }
  .product-cat-item-walp {
    width: 100%;
    padding: 0 10px !important; }
  a.logo-footer {
    display: table;
    margin: 0 auto; }
  .footer-policy-link {
    text-align: center; }
  .bottom-main-container {
    text-align: center !important; }
    .bottom-main-container li {
      display: inline-block;
      padding-right: 9px; }
  .footer-text-copyright {
    text-align: center !important; } }

@media (max-width: 768px) {
  .btn-link.call-button {
    margin-right: 15px; }
  #responsive-menu-button {
    left: 16px !important; }
  section.onas-class {
    padding: 0 15px; }
  .products-cats li {
    list-style: none;
    width: 50%;
    display: table;
    float: none;
    margin: 0 auto; }
  .map-holder, #map {
    height: 330px !important; }
  .map-holder .map-content {
    position: relative !important; }
  .map-content-firstblock,
  .map-content-secondblock {
    position: relative !important;
    display: table !important;
    margin: 20px auto !important;
    top: 0 !important; }
  .map-content-firstblock {
    margin-top: 104px !important; }
  .map-content-secondblock {
    margin-bottom: 40px !important; }
  .item-cert-slider-walp {
    margin-left: 20px;
    margin-right: 20px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
  .item-cert-slider-walp img {
    max-width: 100%;
    display: table;
    margin: 0 auto; }
  .price-lists li .price-item-walp {
    margin-left: auto;
    margin-right: auto; }
  .main-row-contact .map-content-firstblock {
    margin-top: 10px !important; }
  .bottom-main-container li {
    display: block !important;
    padding-right: 0 !important; }
  .action-item .img-block {
    display: none; }
  .action-item .text-value {
    padding-right: 30px; } }

@media (max-width: 600px) {
  .slider-block-content-walpaper h2 {
    font-size: 24px; }
  .products-cats li {
    width: 100%; }
  .link-all-prices .img,
  .image-contact {
    display: none; }
  .map-content-firstblock,
  .map-content-secondblock {
    display: block !important; }
  .main-row-contact .map-content-firstblock,
  .map-content-secondblock {
    width: 100%; }
  .bottom-main-container li {
    display: block !important;
    padding-right: 0 !important; }
  .map-content input[type=text] {
    width: auto; }
  .custom-modal {
    width: 100%;
    z-index: 999909; }
    .custom-modal .modal-img {
      position: absolute; }
    .custom-modal .modal-contents {
      display: block;
      width: 100%;
      z-index: 3;
      position: relative; }
    .custom-modal .close-modal {
      top: -18px;
      right: 30px; }
  .price-lists li .price-item-walp {
    width: 100%; }
  .table-price table th {
    font-size: 13px;
    padding: 4px 4px; }
  .map-content input[type=text] {
    margin: 10px auto; }
  .map-content .text-policy {
    width: 100%; }
  .link-all-prices p {
    -webkit-border-radius: 29px;
            border-radius: 29px;
    padding: 12px 20px; }
  .vc_column-inner.vc_custom_1546923298050 {
    padding-left: 15px !important; }
  .map-content-firstblock {
    margin-top: 28px !important; }
  .map-content-firstblock h3,
  .map-content .text-policy {
    padding: 0 5px; }
  .map-content-firstblock h3 {
    margin-top: 0 !important; }
  .page-template-page-contact .map-content-firstblock h3 {
    margin-top: 30px !important; }
  .map-holder .map-content .map-content-firstblock {
    padding-top: 15px; }
  .vc_row.wpb_row.vc_row-fluid.feedback-class.vc_custom_1546921639319.vc_row-has-fill {
    background: transparent !important; }
  .pre-form p {
    margin-top: 0 !important; }
  .vc_column-inner.vc_custom_1546923298050 {
    padding-top: 0 !important; }
  .responsive-menu-open button#responsive-menu-button {
    background: #000000;
    position: fixed !important;
    top: -8px !important;
    left: 187px !important; }
  .slider-block-content-walpaper h2 {
    left: 0 !important;
    padding: 20px; }
  .action-block > div {
    display: block;
    text-align: center; }
    .action-block > div .value-price {
      width: 100%;
      padding: 0; }
  .action-block {
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 0 15px; }
    .action-block .text-value {
      padding: 0; }
  .vc_row.wpb_row.vc_row-fluid.feedback-class.vc_custom_1549251730782.vc_row-has-fill {
    background: transparent !important; }
  .page-prices .link-all-prices p {
    padding: 10px 20px; }
  .table-price {
    width: 95%; }
  .table-price table th {
    font-size: 13px;
    padding: 1px 1px; }
  .action-item .value-price {
    width: 100%;
    padding-left: 0; } }

.footer-policy-link {
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-top: 15px;
  display: block;
  text-decoration: underline; }
  .footer-policy-link:hover {
    color: #ffc04e; }

.bottom-main-container {
  margin: 0;
  padding: 25px 0 0 0;
  text-align: right; }
  .bottom-main-container li {
    display: inline-block;
    padding-right: 19px; }
    .bottom-main-container li a {
      color: #fff;
      font-family: "MyriadPro-Light";
      font-size: 18px;
      line-height: 1.5; }
  .bottom-main-container li:last-child {
    padding-right: 0; }
  .bottom-main-container li.current-menu-item a {
    font-family: "MyriadPro-Semibold"; }

.home li:first-child.current-menu-item a {
  font-family: "MyriadPro-Semibold"; }

.home li.current-menu-item a {
  font-family: "MyriadPro-Light"; }

footer {
  background-color: #706f6f; }

.site-footer {
  padding: 31px 0; }

.footer-text-copyright {
  margin: 0;
  text-align: right;
  padding-top: 37px; }
  .footer-text-copyright a {
    font-family: "MyriadPro-Light";
    font-size: 16px;
    color: #fff;
    text-decoration: none; }
    .footer-text-copyright a span {
      color: #b6e559;
      font-family: "MyriadPro-Bold"; }
  .footer-text-copyright a:hover {
    text-decoration: underline; }
