.relative {
  position: relative; }

.hide-title {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden; }

.wpb_text_column.wpb_content_element.page-title {
  margin: 0; }

.page-title h2 {
  font-family: "MyriadPro-Bold";
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 20px !important;
  margin-top: 30px; }

.top-header {
  padding: 22px 0 28px 0; }

.link-phone {
  font-size: 24px;
  line-height: 71px;
  font-family: "MyriadPro-Light";
  color: #706f6f;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .link-phone span {
    font-family: "MyriadPro-Bold"; }
  .link-phone:hover {
    text-decoration: none;
    color: #ffc04e; }

.btn-link.call-button {
  text-decoration: none;
  color: #fff;
  font-family: "MyriadPro-Regular";
  background: #ffc04e;
  display: inline-block;
  padding: 12px 31px;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  margin-top: 11px;
  font-size: 18px;
  -webkit-box-shadow: 0 3px 14px 4px #e8e8e8;
          box-shadow: 0 3px 14px 4px #e8e8e8;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-link.call-button:hover {
    background: #706f6f; }

.top-main-container {
  text-align: center;
  margin: 0;
  padding: 0; }
  .top-main-container li {
    display: inline-block;
    padding-right: 63px; }
    .top-main-container li a {
      font-size: 18px;
      line-height: 1.5;
      color: #706f6f;
      font-family: "MyriadPro-Light";
      text-decoration: none; }
  .top-main-container li:last-child {
    padding-right: 0; }
  .top-main-container li:hover a {
    color: #ffc04e; }
  .top-main-container li.current-menu-item a {
    font-family: "MyriadPro-Semibold";
    color: #ffc04e; }

header {
  padding-bottom: 30px; }

.feature-class h3 {
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 30px; }

.item-home-slider {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 525px; }

.home-slider {
  height: 525px; }

.home-slider-walpaper {
  position: relative; }

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.slider-block-content-walpaper {
  width: 55%;
  height: 100%;
  display: table; }
  .slider-block-content-walpaper h2 {
    font-family: "MyriadPro-Bold";
    font-size: 48px;
    line-height: 1.5;
    color: #fff;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 35px; }

.content-home-slider {
  height: 100%; }
  .content-home-slider .container.relative.clearfix {
    height: 100%; }

.nav-link.left img {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg); }

.arrow-slder {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  width: 100%;
  height: 100%; }
  .arrow-slder a:hover {
    opacity: .5; }

a.nav-link.right.slick-arrow {
  right: 0;
  position: absolute; }

a.nav-link.left.slick-arrow {
  left: 0;
  position: absolute; }

.slick-dots {
  width: auto;
  bottom: 52px;
  z-index: 10; }
  .slick-dots li {
    margin: 0 2px; }
    .slick-dots li button {
      background: #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 14px;
      height: 14px;
      opacity: .5; }
  .slick-dots li.slick-active button {
    opacity: 1; }

.slick-dots li button:before {
  display: none; }

.products-cats {
  overflow: hidden;
  padding: 0; }
  .products-cats li {
    list-style: none; }
    .products-cats li img {
      max-height: 152px; }
    .products-cats li h3 {
      margin: 0;
      font-family: "MyriadPro-Regular";
      font-size: 16px;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      background: #ccb080;
      padding: 10px; }

.product-cat-item-walp {
  height: 210px;
  width: 260px; }

.product-cat-item:nth-of-type(3n+2) .product-cat-item-walp {
  margin: 0 auto; }

.product-cat-item:nth-of-type(3n+3) .product-cat-item-walp {
  margin: 0 0 0 auto; }

.product-cat-item-holder {
  -webkit-border-radius: 18px;
          border-radius: 18px;
  position: relative;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 9px 5px #eae5e5ee;
          box-shadow: 2px 5px 9px 5px #eae5e5ee;
  margin-bottom: 20px;
  text-decoration: none;
  display: block; }
  .product-cat-item-holder:hover {
    text-decoration: none; }
    .product-cat-item-holder:hover h3 {
      background: #ababab; }
  .product-cat-item-holder .img-block {
    height: 152px;
    text-align: center; }

section.products-class {
  background: url(../images/product-bg.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.price--link-block {
  margin-top: 40px;
  margin-bottom: 40px; }

.link-all-prices {
  display: table;
  margin: 0 auto; }
  .link-all-prices .img {
    float: left;
    background: #9d9d9c;
    padding: 5px 15px 5px 30px;
    -webkit-border-top-left-radius: 35px;
            border-top-left-radius: 35px;
    -webkit-border-bottom-left-radius: 35px;
            border-bottom-left-radius: 35px; }
  .link-all-prices p {
    margin: 0;
    display: inline-block;
    background: -webkit-gradient(linear, left top, right top, from(#b7b6b5), to(#7f7e7e));
    background: -webkit-linear-gradient(left, #b7b6b5 0%, #7f7e7e 100%);
    background: -o-linear-gradient(left, #b7b6b5 0%, #7f7e7e 100%);
    background: linear-gradient(to right, #b7b6b5 0%, #7f7e7e 100%);
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 11px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 23px;
    -webkit-border-top-right-radius: 31px;
            border-top-right-radius: 31px;
    -webkit-border-bottom-right-radius: 31px;
            border-bottom-right-radius: 31px; }

.service-class h3 {
  font-family: "MyriadPro-Bold";
  font-size: 18px;
  line-height: 1.5;
  color: #2a2d2f;
  margin-bottom: 0; }

.service-class p {
  color: #2a2d2f; }

.feedback-class input[type=text] {
  background: #f6f6f6;
  border: none;
  display: block;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  margin: 0 auto 30px auto;
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2;
  width: 300px; }

.feedback-class ::-webkit-input-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.feedback-class ::-moz-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.feedback-class :-ms-input-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.feedback-class :-moz-placeholder {
  font-family: "MyriadPro-Regular";
  font-size: 15px;
  line-height: 1.5;
  color: #b2b2b2; }

.feedback-class input[type=submit] {
  background: -webkit-gradient(linear, left top, right top, from(#868585), color-stop(18%, #868585), to(#bdbdbc));
  background: -webkit-linear-gradient(left, #868585 0%, #868585 18%, #bdbdbc 100%);
  background: -o-linear-gradient(left, #868585 0%, #868585 18%, #bdbdbc 100%);
  background: linear-gradient(to right, #868585 0%, #868585 18%, #bdbdbc 100%);
  border: none;
  font-size: 18px;
  line-height: 1.5;
  font-family: "MyriadPro-Regular";
  color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin: 0 auto 30px auto;
  padding: 10px 86px;
  display: table; }
  .feedback-class input[type=submit]:hover {
    background: #ffc04e; }

.pre-form p {
  font-family: "MyriadPro-Regular";
  font-size: 24px;
  line-height: 1.5;
  color: #9d9d9c;
  margin-top: 150px;
  padding-top: 50px; }

.text-policy {
  width: 300px;
  margin: 0 auto  35px auto;
  text-align: center;
  color: #333333;
  font-size: 18px; }
  .text-policy a {
    color: #ccb080;
    text-decoration: underline; }

section.sertificate-class {
  background: url(../images/sertificate-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
          background-size: cover !important; }
  section.sertificate-class .page-title h2 {
    margin-bottom: 50px !important; }

.certs-list {
  margin: 0 -25px;
  padding: 0;
  overflow: hidden; }

.item-cert-slider {
  margin: 0 25px; }

.item-cert-slider-walp img {
  max-width: 100%; }

.main-img-cert {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1; }

.img-overlay-sert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.item-cert-slider-walp a {
  display: block;
  position: relative; }
  .item-cert-slider-walp a:hover .img-overlay-sert {
    opacity: 1; }
  .item-cert-slider-walp a:hover .main-img-cert {
    opacity: .3; }

.item-cert-slider-walp {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px 7px 12px 1px #b3b2b2;
          box-shadow: 4px 7px 12px 1px #b3b2b2;
  margin-bottom: 70px; }

.certs-list .slick-dots {
  width: 100%;
  bottom: 0; }
  .certs-list .slick-dots li button {
    background: #ababab; }

.slick-dotted.slick-slider {
  margin-bottom: 70px; }

.footer-policy-link {
  font-family: "MyriadPro-Regular";
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-top: 15px;
  display: block;
  text-decoration: underline; }
  .footer-policy-link:hover {
    color: #ffc04e; }

.bottom-main-container {
  margin: 0;
  padding: 25px 0 0 0;
  text-align: right; }
  .bottom-main-container li {
    display: inline-block;
    padding-right: 19px; }
    .bottom-main-container li a {
      color: #fff;
      font-family: "MyriadPro-Light";
      font-size: 18px;
      line-height: 1.5; }
  .bottom-main-container li:last-child {
    padding-right: 0; }
  .bottom-main-container li.current-menu-item a {
    font-family: "MyriadPro-Semibold"; }

footer {
  background-color: #706f6f; }

.site-footer {
  padding: 31px 0; }

.footer-text-copyright {
  margin: 0;
  text-align: right;
  padding-top: 35px; }
  .footer-text-copyright a {
    font-family: "MyriadPro-Light";
    font-size: 16px;
    color: #fff;
    text-decoration: none; }
    .footer-text-copyright a span {
      color: #b6e559;
      font-family: "MyriadPro-Bold"; }
  .footer-text-copyright a:hover {
    text-decoration: underline; }
