//
// Bredscrumb
//
.bredscrumb
  background: url(../images/bred.png)
  background-repeat: no-repeat!important
  background-position: center center!important
  background-size: cover!important


//
// Feature
//
.feature-class  h3
  font-family: $font_regular
  font-size: 16px
  line-height: 1.5
  color: #333333
  margin-bottom: 30px
//
// Home slider
//
.item-home-slider
  background-size: cover!important
  background-position: center center!important
  background-repeat: no-repeat!important
  height: 525px

.home-slider
  height: 525px
.home-slider-walpaper
  position: relative

.img-overlay
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  object-fit: cover


.slider-block-content-walpaper
  width: 55%
  height: 100%
  display: table
  h2
    font-family: $font_bold
    font-size: 48px
    line-height: 1.5
    color: #fff
    margin: 0
    display: table-cell
    vertical-align: middle
    position: relative
    left: 50px


.content-home-slider
  height: 100%
  .container.relative.clearfix
    height: 100%

.nav-link.left
  img
    transform: rotateZ(180deg)

.arrow-slder
  position: absolute
  top: 50%
  margin-top: -20px
  left: 0
  width: 100%
  height: 100%
  a:hover
    opacity: .5

a.nav-link.right.slick-arrow
  right: 0
  position: absolute


a.nav-link.left.slick-arrow
  left: 0
  position: absolute


.slick-dots
  width: auto
  bottom: 52px
  z-index: 10
  li
    margin: 0 2px
    button
      background: #fff
      border-radius: 50%
      width: 14px
      height: 14px
      opacity: .5
  li.slick-active
    button
      opacity: 1
.slick-dots li button:before
  display: none


.products-cats
  overflow: hidden
  padding: 0

  li
    list-style: none
    img
      max-height: 152px

    h3
      margin: 0
      font-family: $font_regular
      font-size: 16px
      line-height: 1.5
      color: #fff
      text-align: center
      background: #ccb080
      padding: 10px


.product-cat-item-walp
  height: 210px
  width: 260px
.product-cat-item:nth-of-type(3n+2) .product-cat-item-walp
  margin: 0 auto
.product-cat-item:nth-of-type(3n+3)  .product-cat-item-walp
  margin: 0 0 0 auto

.product-cat-item-holder
  border-radius: 18px
  position: relative
  background: #fff
  overflow: hidden
  box-shadow: 2px 5px 9px 5px #eae5e5ee
  margin-bottom: 20px
  text-decoration: none
  display: block
  &:hover
    text-decoration: none
    h3
      background: #ababab


  .img-block
    height: 152px
    text-align: center

section.products-class
  background: url(../images/product-bg.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.price--link-block
  margin-top: 40px
  margin-bottom: 40px

.link-all-prices
  display: table
  margin: 0 auto

  .img
    float: left
    background: #9d9d9c
    padding: 5px 15px 5px 30px
    border-top-left-radius: 35px
    border-bottom-left-radius: 35px

  p
    margin: 0
    display: inline-block
    background: linear-gradient(to right, rgba(183,182,181,1) 0%, rgba(127,126,126,1) 100%)
    color: #fff
    font-size: 24px
    line-height: 1.5
    padding-left: 11px
    padding-top: 13px
    padding-bottom: 12px
    padding-right: 23px
    border-top-right-radius: 31px
    border-bottom-right-radius: 31px

.home-slider-walpaper .slick-dotted.slick-slider
  margin-bottom: 25px


//
// Service
//
.service-class
  h3
    font-family: $font_bold
    font-size: 18px
    line-height: 1.5
    color: #2a2d2f
    margin-bottom: 0
  p
    color: #2a2d2f

//
// Feedback
//
.feedback-class
  margin-bottom: -21px
  input[type=text]
    background: #f6f6f6
    border: none
    display: block
    text-align: center
    padding: 10px
    border-radius: 22px
    margin: 0 auto 30px auto
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
    width: 300px
  & ::-webkit-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2

  & ::-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-ms-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  input[type=submit]
    background:  linear-gradient(to right, rgba(134,133,133,1) 0%, rgba(134,133,133,1) 18%, rgba(189,189,188,1) 100%)
    border: none
    font-size: 18px
    line-height: 1.5
    font-family: $font_regular
    color: #fff
    border-radius: 25px
    margin: 0 auto 30px auto
    padding: 10px 86px
    display: table
    &:hover
      background: $color_yellow


.pre-form
  p
    font-family: $font_regular
    font-size: 24px
    line-height: 1.5
    color: #9d9d9c
    margin-top: 150px
    padding-top: 50px

.text-policy
  width: 300px
  margin: 0 auto  35px auto
  text-align: center
  color: #333333
  font-size: 18px
  a
    color: #ccb080
    text-decoration: underline

//
// Certificate
//
section.sertificate-class
  background: url(../images/sertificate-bg.png)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover!important
  .page-title h2
    margin-bottom: 50px!important

.certs-list
  margin: 0 -25px
  padding: 0
  overflow: hidden

.item-cert-slider
  margin: 0 25px

.item-cert-slider-walp
  img
    max-width: 100%
.main-img-cert
  transition: all 0.3s ease
  opacity: 1
.img-overlay-sert
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  opacity: 0
  transition: all 0.3s ease

.item-cert-slider-walp a
  display: block
  position: relative
  &:hover .img-overlay-sert
    opacity: 1
  &:hover .main-img-cert
    opacity: .3

.item-cert-slider-walp
  border-radius: 10px
  overflow: hidden
  box-shadow: 4px 7px 12px 1px #b3b2b2
  margin-bottom: 70px


.certs-list .slick-dots
  width: 100%
  bottom: 0
  li button
    background: #ababab

.slick-dotted.slick-slider
  margin-bottom: 70px

//
// Map
//
.map-holder,
#map
  width: 100%
  height: 745px

.map-content-firstblock
  h3
    font-family: $font_bold
    font-size: 18px
    line-height: 1.5
    color: #333333
    text-align: center
    margin-top: 29px
    margin-bottom: 30px

.map-holder
  position: relative
  .map-content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

    .map-content-firstblock
      background: #fff
      border-radius: 20px
      box-shadow: 1px 5px 6px 2px #bfbfbf
      margin-top: 68px
      margin-left: 32px
      display: inline-block
      position: absolute
      top: 0
      z-index: 6
    .wpcf7-not-valid-tip
        text-align: center
    .ajax-loader
      bottom: 60px
      margin-left: -10px
      left: 50%
    .image-contact
      width: 170px
      position: absolute
      top: -64px
      left: -45px
      z-index: 2


.main-row-contact
  .map-content-firstblock
    background: #fff
    border-radius: 20px
    box-shadow: 1px 5px 6px 2px #bfbfbf
    margin-top: 68px
    margin-left: 32px
    display: inline-block
.map-content
  input[type=text]
    background: #f6f6f6
    border: none
    display: block
    text-align: center
    padding: 10px
    border-radius: 22px
    margin: 0 60px 30px 60px
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
    width: 320px
  & ::-webkit-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2

  & ::-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-ms-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  input[type=submit]
    display: block
    border: none
    background: #ccb080
    width: 100%
    font-size: 18px
    padding: 16px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    border-top-left-radius: 16px
    border-top-right-radius: 16px
    color: #fff
    &:hover
      background: $color_grey
  .text-policy
    width: 328px
    font-size: 16px
    a
      font-size: 16px

  span.ajax-loader
    position: absolute
    bottom: 50px

.map-content-secondblock
  background: linear-gradient(to bottom, rgba(249,239,223,1) 0%, rgba(250,245,237,1) 7%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%)
  margin-left: 32px
  display: inline-block
  box-shadow: 1px 5px 6px 2px #bfbfbf
  width: 440px
  margin-top: 25px
  border-radius: 10px
  position: absolute
  top: 455px
  h3
    text-align: center
    color: #333333
    font-size: 24px
    line-height: 1.5
    font-family: $font_bold

.lists-contacts-information
  margin: 0 auto
  display: table
  padding: 0
  span
    color: #ccb080
    font-family: $font_bold
    text-transform: uppercase
    float: left
    padding-right: 9px
  li
    list-style: none
    margin-bottom: 20px

  p
    display: table
    color: #333333
  a
    display: block
    color: #333333

//
// CF7
//

.span.wpcf7-not-valid-tip
  text-align: center


//
// Product page
//
.page-products
  .products-cats
    padding-top: 50px
  .price--link-block
    margin-bottom: 75px
  .product-cat-item-holder
    .img-block
      position: relative
      .overlay-img-product
        position: absolute
        top: 0
        transition: all 0.3s ease
        opacity: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,.5)
        text-align: center
        a
          display: inline-block
          border: 1.5px solid #acadae
          background: rgba(0,0,0,.3)
          border-radius: 26px
          overflow: hidden
          color: #fff
          padding: 10px 31px
          white-space: nowrap
          font-size: 16px
          line-height: 1.5
          font-family: $font_regular
          position: absolute
          top: 50%
          left: 50%
          transform: translateY(-50%) translateX(-50%)
      &:hover .overlay-img-product
        opacity: 1
        a
          text-decoration: none
        a:hover
          color: $color_yellow
          border-color: $color_yellow
//
//  Price list
//
.price-lists
  margin: 0
  padding: 22px 0 40px
  overflow: hidden
  li
    list-style: none
    .price-item-walp
      display: table
      padding: 8px 20px
      border: 1px solid #cdcdcd
      border-radius: 40px
      width: 325px
      height: 70px
      margin-bottom: 20px
      text-decoration: none

    .image-price
      display: table-cell
      width: 68px
      vertical-align: middle
      .price-img-hover
        display: none

    h3
      display: table-cell
      vertical-align: middle
      text-align: center
      white-space: nowrap
      font-family: $font_regular
      font-size: 20px
      color: #4e4e4e
    .price-item-walp:hover
      background: $color_yellow2
      border-color: $color_yellow2
      .price-img
        display: none
      .price-img-hover
        display: block
      h3
        color: #fff
a.price-item-walp.active
  background: $color_yellow2
  border-color: $color_yellow2
  .price-img
    display: none
  .price-img-hover
    display: block
  h3
    color: #fff

.table-price
  width: 90%
  margin: 0 auto
  border-top-left-radius: 10px
  overflow: hidden
  border-top-right-radius: 10px
  table
    width: 100%

    thead
      background: $color_yellow2
      border: 1px solid #fff
      td
        width: 25%
        text-align: center
        font-family: $font_regular
        color: #fff
        padding: 10px
    th
      border: 1px solid #d2d2d2
      font-family: $font_regular
      color: #4e4e4e
      font-size: 16px
      padding: 11px 13px
      font-weight: 400
      text-align: center

.page-prices
  .link-all-prices
    img
      padding: 8px 0 8px 13px
    p
      padding-right: 55px
  .slick-dots
    bottom: -61px
    left: 68px
    button
      background: #ababab

.action-item
  img
    width: 100%

.action-row
  position: relative
  margin: 70px 0 142px
  .action-arrow
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -40px
    width: 41px


.main-row-contact
  margin: 50px 0

.page-contacts
  #map
    height: 655px
    width: 100%
    overflow: hidden
    border-radius: 10px

.main-row-contact
  .map-content-secondblock
    margin-top: 0
    border: 1.5px solid #ccb080
    top: 416px
  .map-content-firstblock
    margin-top: 0
    border: 1.5px solid #ccb080
    display: inline-block
    z-index: 20
    position: relative
    width: 440px
    .wpcf7-not-valid-tip
      text-align: center
    div.wpcf7 .ajax-loader
      left: 50%
      bottom: 63px!important
      margin-left: -13px


@media (max-width: 1200px)
  .top-main-container li
    display: inline-block
    padding-right: 29px

  .bottom-main-container li
    display: inline-block
    padding-right: 3px

@media (max-width: 1000px)
  .main-row-contact .map-content-secondblock
    position: relative
    top: 0!important
    margin: 0 auto
    display: table


  .main-row-contact .map-content-firstblock
    margin: 20px auto
    display: table

  a.logo
    text-align: center
    display: table
    margin: 0 auto
  .bottom-header
    .top-main-container
      display: none
  #responsive-menu-button
    position: absolute!important
    left: 107px!important
    top: 193px!important
    background: transparent!important
  .responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after
    background-color: $color_yellow!important
  .row-top-header
    .link-phone
      line-height: 35px
    .col-lg-6 .col-lg-6:first-child .link-phone
      margin-top: 16px
      display: inline-block
  .top-header
    padding-bottom: 0

  .slider-block-content-walpaper
    width: 100%
  .product-cat-item-walp
    width: 100%
    padding: 0 10px!important
  a.logo-footer
    display: table
    margin: 0 auto

  .footer-policy-link
    text-align: center
  .bottom-main-container
    text-align: center!important
    li
      display: inline-block
      padding-right: 9px
  .footer-text-copyright
    text-align: center!important

@media (max-width: 768px)
  .btn-link.call-button
    margin-right: 15px
  #responsive-menu-button
    left: 16px !important
  section.onas-class
    padding: 0 15px
  .products-cats li
    list-style: none
    width: 50%
    display: table
    float: none
    margin: 0 auto

  .map-holder, #map
    height: 330px!important
  .map-holder .map-content
    position: relative!important
  .map-content-firstblock,
  .map-content-secondblock
    position: relative!important
    display: table!important
    margin: 20px auto!important
    top: 0!important
  .map-content-firstblock
    margin-top: 104px!important
  .map-content-secondblock
    margin-bottom: 40px!important

  .item-cert-slider-walp
    margin-left: 20px
    margin-right: 20px
    box-shadow: none!important

  .item-cert-slider-walp img
    max-width: 100%
    display: table
    margin: 0 auto
  .price-lists li .price-item-walp
    margin-left: auto
    margin-right: auto

  .main-row-contact .map-content-firstblock
    margin-top: 10px!important
  .bottom-main-container li
    display: block!important
    padding-right: 0!important


@media (max-width: 600px)
  .slider-block-content-walpaper h2
    font-size: 24px
  .products-cats li
    width: 100%
  .image-contact
    display: none
  .map-content-firstblock,
  .map-content-secondblock
    display: block!important
  .main-row-contact .map-content-firstblock,
  .map-content-secondblock
    width: 100%

  .bottom-main-container li
    display: block!important
    padding-right: 0!important

  .map-content input[type=text]
    width: auto

  .custom-modal
    width: 100%
    z-index: 999909
    .modal-img
      position: absolute
    .modal-contents
      display: block
      width: 100%
      z-index: 3
      position: relative
    .close-modal
      top: -18px
      right: 30px
  .price-lists li .price-item-walp
    width: 100%

  .table-price table th
    font-size: 13px
    padding: 4px 4px