$font_light :  'MyriadPro-Light'
$font_bold :  'MyriadPro-Bold'
$font_regular :  'MyriadPro-Regular'
$font_semibold :  'MyriadPro-Semibold'
$color_yellow: #ffc04e
$color_grey: #706f6f
.relative
  position: relative

.hide-title
  margin: 0
  padding: 0
  height: 0
  overflow: hidden

.wpb_text_column.wpb_content_element.page-title
  margin: 0
.page-title h2
  font-family: $font_bold
  font-size: 24px
  line-height: 1.5
  color: #333333
  margin-bottom: 20px!important
  margin-top: 30px
html
  overflow-y: inherit




@import "header.sass"
@import "main.sass"
@import "footer.sass"