$font_light :  'MyriadPro-Light'
$font_bold :  'MyriadPro-Bold'
$font_regular :  'MyriadPro-Regular'
$font_semibold :  'MyriadPro-Semibold'
$color_yellow: #ffc04e
$color_grey: #706f6f
$color_yellow2 : #ccb080
.relative
  position: relative

.hide-title
  margin: 0
  padding: 0
  height: 0
  overflow: hidden

.wpb_text_column.wpb_content_element.page-title
  margin: 0
.page-title h2
  font-family: $font_bold
  font-size: 24px
  line-height: 1.5
  color: #333333
  margin-bottom: 20px!important
  margin-top: 30px

h1.page-title
  font-family: $font_bold
  font-size: 24px
  line-height: 1.5
  color: #fff
  padding: 36px
  margin: 0
  text-align: center
  text-transform: uppercase


html
  overflow-y: inherit
.basic-page
  line-height: 1.5
  margin-bottom: 40px

.title-404
  font-size: 60px
  font-family: $font_bold

#back_to_top
  opacity: 0
  visibility: hidden
  position: fixed
  bottom: 65px
  right: 30px
  padding: 9px 18px
  color: #fff
  z-index: 9999
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  &:hover
    opacity: .5!important

.backactive
  opacity: 1!important
  visibility: visible!important

.overlya-modal-layer
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  background: rgba(0,0,0,.5)
  opacity: 0
  visibility: hidden
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out

.custom-modal
  width: 535px
  position: fixed
  top: 50%
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  left: 50%
  z-index: 9999
  transform: translateX(-50%)  translateY(-50%)
  background: #fff
  border-radius: 25px
  opacity: 0
  visibility: hidden
  display: table
  .modal-img
    display: table-cell

  .modal-contents
    width: 50%
    padding-right: 13px
    display: table-cell
    vertical-align: middle
    h3
      color: #333333
      font-size: 24px
      line-height: 1.5
      font-family: $font_regular
      margin-top: 46px
      text-align: center
      margin-bottom: 40px

    input[type=text]
      background: #f6f6f6
      border: none
      display: block
      text-align: center
      padding: 10px
      -webkit-border-radius: 22px
      border-radius: 22px
      margin: 0 auto 15px auto
      font-family: "MyriadPro-Regular"
      font-size: 15px
      line-height: 1.5
      color: #b2b2b2
      width: 215px
    div.wpcf7 .ajax-loader
      left: 50%
      position: relative
      margin-left: -8px
  .text-policy
    width: 250px
    font-size: 16px

  & ::-webkit-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2

  & ::-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-ms-input-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  & :-moz-placeholder
    font-family: $font_regular
    font-size: 15px
    line-height: 1.5
    color: #b2b2b2
  input[type=submit]
    background: $color_yellow
    border: none
    font-size: 18px
    line-height: 1.5
    font-family: $font_regular
    color: #fff
    border-radius: 25px
    margin: 0 auto
    padding: 6px 41px
    display: table
    &:hover
      background: $color_grey
  .close-modal
    position: absolute
    top: 15px
    right: 18px
    cursor: pointer
    -webkit-transition: all 0.3s ease-in-out
    -moz-transition: all 0.3s ease-in-out
    -o-transition: all 0.3s ease-in-out
    -ms-transition: all 0.3s ease-in-out
    transition: all 0.3s ease-in-out

  .close-modal:hover
    opacity: .5

.show-blocks-modal
  opacity: 1
  visibility: visible


.relative
  position: relative
@import "header.sass"
@import "main.sass"
@import "footer.sass"