$font_light :  'MyriadPro-Light'
$font_bold :  'MyriadPro-Bold'
$font_regular :  'MyriadPro-Regular'
$font_semibold :  'MyriadPro-Semibold'
$color_yellow: #ffc04e
$color_grey: #706f6f
$color_yellow2 : #ccb080
.relative
  position: relative

.hide-title
  margin: 0
  padding: 0
  height: 0
  overflow: hidden

.wpb_text_column.wpb_content_element.page-title
  margin: 0
.page-title h2
  font-family: $font_bold
  font-size: 24px
  line-height: 1.5
  color: #333333
  margin-bottom: 20px!important
  margin-top: 30px

h1.page-title
  font-family: $font_bold
  font-size: 24px
  line-height: 1.5
  color: #fff
  padding: 36px
  margin: 0
  text-align: center
  text-transform: uppercase


html
  overflow-y: inherit
.basic-page
  line-height: 1.5
  margin-bottom: 40px

.title-404
  font-size: 60px
  font-family: $font_bold

#back_to_top
  opacity: 0
  visibility: hidden
  position: fixed
  bottom: 65px
  right: 30px
  padding: 9px 18px
  color: #fff
  z-index: 9999
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out
  &:hover
    opacity: .5!important

.backactive
  opacity: 1!important
  visibility: visible!important



@import "header.sass"
@import "main.sass"
@import "footer.sass"